.form-group {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  margin-right: 24px;
}

label {
  display: block;
}

.input-dimension {
  border: 2px solid var(--highlight);
  border-radius: 6px;
  font-size: 16px;
  padding: 6px 4px;
  width: 12ch;
}

select {
  border: 2px solid var(--highlight);
  border-radius: 6px;
  font-size: 16px;
  padding: 6px 4px;
}

button {
  background-color: var(--highlight);
  border: 2px solid var(--highlight);
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  height: 32px;
  margin-right: 16px;
  padding: 4px 8px;
}

button:last-child {
  margin-right: 0;
}

.form-submit {
  margin-top: 24px;
  text-align: right;
}
